.story-table {
    margin-top: 10px;
    overflow-y: auto;
    border-collapse: collapse;
  }

tr:nth-child(even) {
    background-color: #e5e5e5;
  
}

.search-input {
    width: 600px;
}

th.title {
    width: 500px;
}


.button-read:hover, .button-search:enabled:hover {
    background-color: #ddc0b2;
    cursor: pointer;
}