.top-box {
    display: flex;
    color: black;
    background-color: beige;
}

.title {
    font-weight: bold;
    font-size: 50px;
    padding-top: 5px;
    color: #D7CEC7;
}

.title-author-box {
    padding: 0 0 20px 100px;
    width: 60%;
    background-color: #565656;
}

.author-box {
    display: flex;
    color: #D7CEC7;
}

.author {
    font-weight: bold;
    font-size: 18px;
    padding: 0 0 0 15px;
}

.edit-rating-share-box {
    width: 40%;
    background-color: #565656;
    color: #D7CEC7;
}

.share-delete-box {
    margin-top: 2%;
    margin-left: 2%;
}

.share-box {
    display: flex;
}

.delete-button {
    margin-left: 20%;
}

.rating-box {
    font-size: 18px;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 4%;
}

.fb-share {
    display: flex;
}

.twitter-share {
    display: flex;
    margin-left: 5%;
}


.read-aloud-box {
    background-color: #565656;
}

.read-aloud-button {
    margin-top: 5%;
    margin-left: 2%;
}

.description-box {
    background-color: #D7CEC7;
    padding: 20px 20px 20px 20px;
}

.contents-box {
    padding: 20px 20px 20px 20px;
    background-color: #565656;
    color: #D7CEC7;
    height: 500px;
    overflow-y: auto;
}

.bot-container-read {
    display: none;
}
