.story-table {
    margin-top: 10px;
    overflow-y: auto;
    border-collapse: collapse;
  }

tr:nth-child(even) {
    background-color: #e5e5e5;
  
}

.search-input {
    width: 600px;
}

th {
    text-align: center;
}